header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #303030;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header:hover{
    
    background-color: #202020;
    
}

header .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

    


nav a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
}
.button-container a {
    display: inline-block;
    margin: 10px;
    opacity: 0; /* Start invisible */
    transform: translateY(20px); /* Start slightly lower */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transition for opacity and position */
    text-decoration: none;
}

.button-container a.show {
    opacity: 1; /* Fade in */
    transform: translateY(0); /* Move to original position */
}

.form-container {
    opacity: 1;  /* Remover a opacidade 0 */
    transform: none; /* Remover a transformação de movimento */
    transition: none; /* Remover a transição */
    margin: 50px auto;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* .form-container {
    opacity: 0; /* Começar invisível 
    transform: translateY(20px); /* Começar um pouco mais baixo 
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transição para opacidade e posição 
    margin: 50px auto; /* Centralizar 
    max-width: 400px; /* Limitar largura 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para efeito de profundidade 
} 
*/
.form-container.show {
    opacity: 1; /* Fade in */
    transform: translateY(0); /* Mover para a posição original */
}
/* Contas - Azul */
.contas, .contas button {
    background-color: #007bff;
    color: white;
}

.contas:hover, .contas button:hover {
    background-color: #0067d4;
}

/* Despesas - Vermelho */
.despesas, .despesas button {
    background-color: red;
    color: white;
}

.despesas:hover, .despesas button:hover {
    background-color: rgb(206, 0, 0);
}

/* Categorias - Roxo */
.categorias, .categorias button {
    background-color: rgb(165, 89, 175);
    color: white;
}

.categorias:hover, .categorias button:hover {
    background-color: rgb(123, 64, 148);
}

/* Formas de pagamento - Amarelo */
.formas-pagamento, .formas-pagamento button {
    background-color: rgb(52, 179, 90);
    color: white;
}

.formas-pagamento:hover, .formas-pagamento button:hover {
    background-color: rgb(48, 143, 87);
}

.contas header, .contas th {
    background-color: #007bff;
    
}
.despesas header, .despesas th {
    background-color: red;
    
}
.categorias header , .categorias th{
    background-color: rgb(165, 89, 175);
    
}
.formas-pagamento header, .formas-pagamentoth {
    background-color: rgb(52, 179, 90);
    
}
#navMenu .logout {
    position: absolute; /* Posiciona o botão de forma absoluta em relação ao header */
    right: 10px; /* 10px de distância do canto direito */
    top: 50%; /* Alinha o botão verticalmente no meio do header */
    transform: translateY(-50%); /* Ajuste para centralizar verticalmente */
    background-color: #f00; /* Cor de fundo para o botão */
    color: white; /* Cor do texto */
    padding: 10px 20px; /* Padding para o botão */
    border-radius: 5px; /* Bordas arredondadas */
    text-decoration: none; /* Remove o sublinhado do link */
    display: inline-block;
}

#navMenu .logout:hover {
    background-color: #c00; /* Altera a cor do fundo ao passar o mouse */
}